/* body {
  background: -webkit-linear-gradient(left, #23bdb8, #43e794);
} */

/********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif; /*If lato if not available*/
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*rendering in a perfect way*/
  overflow-x: hidden;
}

/*************************/
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
}

.progress {
  width: 50%;
  margin: auto auto;
  margin-top: 20px;
}

.spinner-border {
  display: block;
  margin: auto auto;
  margin-top: 150px;
}

.status {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

table {
  font-size: 11px;
  width: 330px;
  border: 1px solid #ccc;
}

tr {
  width: 100%;
  border-bottom: 1px dashed #eee;
}

td {
  font-size: 11px;
  padding: 5px;
}

td pre {
  width: 150px;
  overflow: auto;
  word-wrap: break-word;
}

#extra {
  width: 330px;
  font-size: 11px;
  overflow: auto;
  word-wrap: break-word;
}

#error2 {
  display: none;
}

.hide {
  -webkit-animation: slideOut 1s forwards;
  -moz-animation: slideOut 1s forwards;
  animation: slideOut 1s forwards;
}

.showx {
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

#step1 {
  display: block;
}

#step2,
#step3,
#step4,
#step5,
#result {
  width: 100%;
  display: none;
  /* font-weight: 400; */
  color: #003835;
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;

  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1200px);
  }
}
@-moz-keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1200px);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1200px);
  }
}

.card {
  background: transparent;
  border: 0;
}

.card-body {
  overflow: hidden;
  position: relative;
  height: 900px;
  width: 100%;
}

#qr-reader {
  border: 0 !important;
}

ul.ks-cboxtags {
  list-style-type: none;
  padding-top: 20px;
}

ul.ks-cboxtags li {
  display: block;
}

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

ul.ks-cboxtags li label {
  padding: 10px 2%;
  cursor: pointer;
  text-align: left;
  font-size: 80% !important;
  font-weight: 500;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f058";
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: transform, transform;
  color: rgb(126, 207, 192);
}

ul.ks-cboxtags li input[type="checkbox"] + label::before {
  content: "\f057";
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: transform, transform;
  color: rgb(207, 126, 126);
}

ul.ks-cboxtags li label {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(51, 51, 51);
  font-size: 18px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  -webkit-user-select: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  display: block;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant-ligatures: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-weight: 900;
  font-size: 24px;
  padding-top: 0px;
  content: "ï‡›";
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 30%;
  margin-top: -5px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

#qr-reader__dashboard_section_swaplink {
  display: none !important;
}

#qr-reader > div:first-child > img {
  display: none !important;
}

#checklist {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .results {
    display: flex;
  }

  .details {
    min-width: 300px;
    margin-left: 20px;
  }
}

.title1 {
  font-size: 1.5rem;
  font-weight: 600;
}

/*******************************/
.lang-select,
select.html5-qrcode-element {
  /* background-color: #e5e5e5; */
  color: #808080;
  width: 13%;
  display: inline-block;
  padding: 10px 30px; /*top bottom left right*/
  font-weight: 300; /*scaling the weight*/
  font-size: 80%;
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

select.html5-qrcode-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 1% auto;
}

.lang-select:hover,
select.html5-qrcode-element:hover {
  border: 1px solid #808080;
  cursor: pointer;
  font-weight: 400;
}

.label {
  font-weight: 500 !important;
}

.results {
  display: flex;
  flex-direction: column;
}

.compatible-with {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* height: 8%; */
  width: 100%;
  justify-content: space-between;
  /* overflow: scroll; */
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.qr-sub-block {
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.subtitle {
  font-size: 90%;
  font-weight: 500;
}

.identificationData {
  /* margin-top: 1%;
  margin-left: 8%; */
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-width: 1.3px;
  border-color: #e5e5e5;
  border-style: solid;
  font-size: 70%;
  letter-spacing: 1px;
  text-align: left;
  flex-wrap: wrap;
}

.element {
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  margin-left: 3%;
  position: relative;
}

.dataLabel {
  /* padding: 0 0 5px 0; */
  color: #808080;
  width: 30%;
}

.contentData {
  width: 67%;
  margin-left: 3%;
  font-weight: 400;
}

/***********Modal***************/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-name: slideIn;
  border-radius: 16px 16px 16px 16px !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*-------------LINKS----------------- */
.a,
button.html5-qrcode-element,
span.html5-qrcode-element {
  margin-bottom: 2%;
  display: inline-block;
  padding: 8px 20px; /*top bottom left right*/
  font-weight: 300; /*scaling the weight*/
  font-size: 80%;
  text-decoration: none;
  border-style: solid;
  border-width: thin;
  border-color: #808080;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: #808080;
  border-radius: 30px;
  background-color: #eee;
}

/*-------------BUTTONS--------------- */
a:hover,
.btn:link,
.btn:visited,
button.html5-qrcode-element:hover,
span.html5-qrcode-element:hover {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  /* padding: 10px 30px; */
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

span.html5-qrcode-element {
  text-decoration: none !important;
}

.errorBtn {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f65656;
  color: #fff !important;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;

  &:hover {
    background-color: #ec3434;
  }
}

/******** Base  ********/
.row-element {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
